<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-default" id="left-block">
                <div class="card-header" id="filter-header">
                    <images-filter></images-filter>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 images-list-container">
                                <images-list></images-list>
                            </div>
                            <div class="col-md-9 images-big-container">
                                <images-big-view></images-big-view>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <item-form></item-form>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {

        }
    }
</script>
