<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-default" id="left-block">
                <div class="card-header" id="filter-header">
                    Список категорий Amazon для парсинга
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Название</th>
                                <th scope="col">Ссылка</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>

                            <tbody>
                                <tr v-for="item in list">
                                    <td width="4%" class="text-right">
                                        {{item.id}}
                                    </td>
                                    <td width="20%">
                                        <div class="form-group">
                                            <input class="form-control" v-model="item.name"/>
                                        </div>
                                    </td>
                                    <td width="60%">
                                        <div class="form-group">
                                            <textarea class="form-control" v-model="item.url"></textarea>
                                        </div>
                                    </td>
                                    <td width="16%" class="middle-middle">
                                        <button type="button" class="btn btn-info btn-sm" v-on:click="update(item.id, item.name, item.url)">Сохранить</button>
                                        <button type="button" class="btn btn-danger btn-sm" v-on:click="remove(item.id)">Удалить</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <div>
                            <p>
                                <br/>
                                Форма для добавления нового элемента
                            </p>
                        </div>

                        <!-- Для добавления нового элемента -->
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Название</th>
                                <th scope="col">Ссылка</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td width="4%" class="text-right">

                                    </td>
                                    <td width="20%">
                                        <div class="form-group">
                                            <input class="form-control" v-model="newelement.name"/>
                                        </div>
                                    </td>
                                    <td width="60%">
                                        <div class="form-group">
                                            <textarea class="form-control" v-model="newelement.url"></textarea>
                                        </div>
                                    </td>
                                    <td width="16%" class="middle-middle">
                                        <button type="button" class="btn btn-info btn-sm" v-on:click="add()">Добавить</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style scoped>
    textarea {
        min-height: 80px;
        padding: 5px;
    }

    input, textarea {
        font-size: 12px;
        line-height: 14px;
    }

    .form-group {
        margin: 0px;
    }

    .text-right {
        text-align: right;
    }

    .middle-middle {
        text-align: center;
        vertical-align: middle;
    }
</style>


<script>
    export default {
        mounted() {

        },

        created() {
            this.getlist();
        },

        data() {
            return {
                //Форма для добавления нового элемента
                newelement: {
                    name: "",
                    url: ""
                },

                list: []
            }
        },


        methods: {
            //Выводит список элементов
            getlist: function() {
                let self = this;
                axios.get('/config/categories-getlist')
                    .then(function (response) {
                        self.data = self.list = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },


            //Обновляет элемент
            update: function(id, name, url) {
                let self = this;
                axios.post('/config/categories-update', {
                    id: id,
                    name: name,
                    url: url
                })
                .then(function (response) {
                    self.getlist();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },


            //Удаляет элемент
            remove: function(id) {
                let self = this;
                axios.post('/config/categories-remove', {
                    id: id
                })
                .then(function (response) {
                    self.getlist();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            add: function() {
                let self = this;
                axios.post('/config/categories-add', {
                    name: self.newelement.name,
                    url: self.newelement.url
                })
                .then(function (response) {
                    self.getlist();
                    self.newelement.name = "";
                    self.newelement.url = "";
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        }
    }
</script>
