<template>
    <div>
        <a class="img-avatar" @click="openbig()">
            <div class="statusblock">

            </div>
            <div class="img_element_view_wrapper">
                <img class="img-responsive" id="img_element_view" :src="element.image"/>
                <div class="tags_images" :class="{notuse: show_overlay_hide}" @click="checkApply()">
                    <div class="imag-tag" :key="tag_index" v-for="(tag, tag_index) in element.offers_links" @click="editTag(tag, $event)" :class="{newtag: tag.new, isedit: tag.isInEdit}" :style="{
                        left: prepCoord(tag.x),
                        top: prepCoord(tag.y),
                        width: prepCoord(tag.width),
                        height: prepCoord(tag.width)
                    }">
                        <div class="iconvx" :class="tag.icon">
                        </div>
                    </div>

                    <template v-if="current_tagmode == 'add'">
                        <div class="imag-tag" v-for="tag in pointers" :class="{newtag: tag.new}" :style="{
                                left: prepCoord(tag.x),
                                top: prepCoord(tag.y),
                                width: prepCoord(tag.width),
                                height: prepCoord(tag.width)
                            }">
                            <div class="iconvx" :class="tag.icon">
                            </div>
                        </div>
                    </template>
                </div>
                <div class="overlay_add" @click="addPointer()" v-if="current_tagmode == 'add'" @mousemove="tagMouseMove">
                    <div class="corX abs" :style="{top: prepCoord(corY)}"></div>
                    <div class="corY abs" :style="{left: prepCoord(corX)}"></div>
                </div>
                <div class="overlay_hide" v-if="show_overlay_hide"></div>
            </div>
        </a>

        <div class="offer_block">
            <div v-if="current_tagmode == 'init'" class="bordered">
                <button type="button" class="btn btn-blue btn-sm active" @click="addTag()">Добавить точки</button>
            </div>
            <div v-else-if="current_tagmode == 'add'" class="bordered">
                <div class="row">
                    <div class="col-md-6">
                        <div class="megasmall">Добавте точки и нажмите кнопку "Применить"</div>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-blue btn-sm active" @click="applyAdd()">Применить</button>
                        <button type="button" class="btn btn-blue btn-sm active" @click="cancelAdd()">Отмена</button>
                    </div>
                </div>
            </div>
            <div v-else-if="current_tagmode == 'edit'">
                <div class="bordered">
                    <button type="button" class="btn btn-blue btn-sm active pull-left" @click="addOffer()">Добавить offer</button>
                    <button type="button" class="btn btn-blue btn-sm active pull-right last-btn" data-toggle="modal" data-target="#deleteDotModal">Удалить</button>
                    <button type="button" class="btn btn-blue btn-sm active pull-right" @click="saveDot()">Сохранить</button>
                    <button type="button" class="btn btn-blue btn-sm active pull-right" @click="showLinkedOffersWindow()">Все офферы</button>
                    <div class="clearfix"></div>
                </div>
                <div class="spacer5"></div>
                <table class="table-bordered tbx">
                    <tr>
                        <td width="30%" class="labcol">
                            <b>Позиция X: </b>
                        </td>
                        <td width="100%">
                            <vue-slider v-model="current_editag.x" :tooltip="false" :min="0.05" :max="0.95" :interval="0.05"></vue-slider>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labcol">
                            <b>Позиция Y: </b>
                        </td>
                        <td width="100%">
                            <vue-slider v-model="current_editag.y" :tooltip="false" :min="0.05" :max="0.95" :interval="0.05"></vue-slider>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labcol">
                            <b>Размер: </b>
                        </td>
                        <td width="100%">
                            <vue-slider v-model="current_editag.width" :tooltip="false" :min="0.05" :max="0.8" :interval="0.05"></vue-slider>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labcol">
                            <b>Иконка: </b>
                        </td>
                        <td width="100%">
                            <v-select :options="icons" v-model="current_editag.icon"></v-select>
                        </td>
                    </tr>

                </table>
                <div>

                </div>
            </div>
        </div>

        <!-- Модальное окно, запрашивающее удаление -->
        <div v-if="current_editag" class="modal fade" id="deleteDotModal" tabindex="-1" role="dialog" aria-labelledby="deleteDotModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteDotModalLabel">Подтвердите действие</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img_element_view_wrapper onlyimage">
                                    <img class="img-responsive" :src="element.image"/>
                                    <div class="tags_images">
                                        <div class="imag-tag" :class="{newtag: current_editag.new, isedit: current_editag.isInEdit}" :style="{
                                            left: prepCoord(current_editag.x),
                                            top: prepCoord(current_editag.y),
                                            width: prepCoord(current_editag.width),
                                            height: prepCoord(current_editag.width)
                                        }">
                                            <div class="iconvx" :class="current_editag.icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overlay_hide"></div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    Вы действительно хотите удалить данную точку и все связанные с ней офферы?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-blue btn-sm" @click="deleteTag()">Удалить</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Модальное окно для списка офферов для текущей точки -->
        <div v-if="current_editag" class="modal fade" id="offerDotModal" tabindex="-1" role="dialog" aria-labelledby="offerDotModalLabel" aria-hidden="true">
            <div class="modal-dialog max-1000" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="offerDotModalLabel">Связанные офферы</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="img_element_view_wrapper onlyview">
                                    <img class="img-responsive" :src="element.image"/>
                                    <div class="tags_images">
                                        <div class="imag-tag" :class="{newtag: current_editag.new, isedit: current_editag.isInEdit}" :style="{
                                            left: prepCoord(current_editag.x),
                                            top: prepCoord(current_editag.y),
                                            width: prepCoord(current_editag.width),
                                            height: prepCoord(current_editag.width)
                                        }">
                                            <div class="iconvx" :class="current_editag.icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overlay_hide"></div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6 offer-container" v-for="offer in current_editag.offers">
                                        <div class="offer panel panel-default">
                                            <div class="offer-data">
                                                <div class="offer-avatar">
                                                    <img v-if="offer.images[0]" :src="offer.images[0]['medium']"/>
                                                </div>
                                                <div class="offer-container">
                                                    <div class="offer-title">
                                                        {{offer.title}}
                                                    </div>
                                                    <div class="offer-path">
                                                        <template v-for="path_value in offer.path">
                                                            <span class="path-var"  v-html="path_value"></span>
                                                            <br/>
                                                        </template>
                                                    </div>
                                                    <div class="price">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="offer-control">
                                                <ul class="offer-controls">
                                                    <li>
                                                        <a @click="unbindOffer(offer)" class="offer-link">
                                                            <i class="fa fa-times-circle"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Модальное окно для выбора оффера из списка -->
        <div v-if="current_editag" class="modal fade" id="offerAddDotModal" tabindex="-1" role="dialog" aria-labelledby="offerAddDotModalLabel" aria-hidden="true">
            <div class="modal-dialog max-1000" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="offerAddDotModalLabel">Выберите оффер для добавления</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                тут будет дерево категорий
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6 offer-container" v-for="offer in available_offers">
                                        <div class="offer panel panel-default">
                                            <div class="offer-data">
                                                <div class="offer-avatar">
                                                    <img v-if="offer.images[0]" :src="offer.images[0]['medium']"/>
                                                </div>
                                                <div class="offer-container" :class="{added: offer.added}">
                                                    <div class="offer-title">
                                                        {{offer.title}}
                                                    </div>
                                                    <div class="offer-path">
                                                        <template v-for="path_value in offer.path">
                                                            <span class="path-var"  v-html="path_value"></span>
                                                            <br/>
                                                        </template>
                                                    </div>
                                                    <div class="price">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="offer-control">
                                                <ul class="offer-controls">
                                                    <li>
                                                        <a @click="selectOffer(offer)" class="offer-link">
                                                            <i class="fa fa-check-circle"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="separator">

        </div>
        <div>
            <table class="table-bordered tbx">
                <tr>
                    <td width="30%" class="labcol">
                        <b>Теги: </b>
                    </td>
                    <td width="100%">
                        <div class="tag_el" v-for="tag in element.instagram_tags">{{tag.label}}</div>
                    </td>
                </tr>
                <tr>
                    <td width="30%" class="labcol">
                        <b>Дата создания: </b>
                    </td>
                    <td width="100%">
                        {{element.created | moment("D.m.Y")}}
                    </td>
                </tr>
                <tr>
                    <td width="30%" class="labcol">
                        <b>Ссылка: </b>
                    </td>
                    <td width="100%">
                        <a :href="element.url" target="_blank">{{element.url}}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<style scoped>
    ul.offer-controls {
        padding: 0px;
        list-style: none !important;
        margin: 0px;
        text-align: center;
    }

    ul.offer-controls li {
        font-size: 20px;
    }

    ul.offer-controls li:hover {
        cursor: pointer;
    }

    ul.offer-controls .offer-link {
        color: #55c4f1;
    }

    .offer-avatar {
        width: 88px;
        height: 88px;
        float: left;
        margin-right: 5px;
        overflow: hidden;
    }

    .offer-avatar img {
        width: 100%;
    }

    .offer-data {
        width: calc(100% - 30px);
        float: left;
        height: 100%;
        background: transparent;
        padding: 5px;
    }

    .offer-title {
        text-transform: uppercase;
        line-height: 14px;
        font-size: 12px;
        max-height: 28px;
        white-space: nowrap; /* Отменяем перенос текста */
        overflow: hidden; /* Обрезаем содержимое */
        text-overflow: ellipsis; /* Многоточие */
    }

    .offer-control {
        width: 30px;
        float: right;
        height: 100%;
    }

    .offer-container {
        padding-left: 0px;
    }

    .offer-path {
        margin-top: 5px;
        font-size: 11px;
        line-height: 12px;
        font-weight: bold;
    }

    .offer {
        height: 100px;
        border: 1px solid #d8d8d8;
    }

    .onlyview * {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        cursor: default;
    }

    .max-1000 {
        max-width: 1000px;
    }

    .onlyimage *:hover {
        cursor: default;
    }

    .btn.pull-right:not(.last-btn) {
        margin-right: 5px;
    }

    .onlyimage * {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    .onlyimage .imag-tag {
        left: 50%;
        top: 75%;
        width: 15%;
        height: 15%;
        box-shadow: none !important;
        border: 2px solid white;
    }

    .onlyimage {
        position: relative;
    }

    .onlyimage:after {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background: transparent;
        z-index: 10;
    }

    .onlyimage .imag-tag .iconvx {
        background-image: none;
    }

    .pull-left {
        float: left;
    }

    .clearfix {
        clear: both;
    }

    .mb5 {
        margin-bottom: 5px;
    }

    .spacer5 {
        height: 5px;
    }

    .notuse .imag-tag {
        opacity: 0.3;

    }

    .notuse .imag-tag.newtag {
        width: 32px !important;
        height: 32px !important;
    }

    .notuse .imag-tag.newtag {
        opacity: 1;
    }

    .imag-tag.isedit {
        opacity: 1 !important;
        box-shadow: 0px 0px 0px 2px white;
    }

    .imag-tag.isedit:hover {
        opacity: 1 !important;
    }

    .imag-tag {
        background-size: cover !important;
    }

    .abs {
        position: absolute;
    }

    .corX {
        height: 3px;
        left: 0px;
        right: 0px;
        background-color: black;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .corY {
        width: 3px;
        top: 0px;
        bottom: 0px;
        background-color: black;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    #imgtag_canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: 10;
    }

    .overlay_add {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        cursor: none;
    }

    .megasmall {
        line-height: 12px;
        font-size: 10px;
    }

    .bordered {
        border: 1px solid #dadada;
        padding: 5px;
        border-radius: 4px;
    }

    .btn-blue {
        background: #55c4f1;
        color: #004886;
        border: 1px solid #0c8fff;
    }

    .imag-tag {
        padding: 1%;
        background: #55c4f1;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
        background-size: cover;
        opacity: 0.8;
        transition: 0.2s;
        transform: translate(-50%, -50%);
    }

    .imag-tag:hover {
        opacity: 1;
        transition: 0.2s;
        cursor: pointer;
    }

    .img_element_view_wrapper {
        position: relative;
        overflow: hidden;
    }

    .tags_images {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
    }

    .img-avatar:hover {
        cursor: pointer;
    }

    .img-responsive {
        width: 100%;
    }

    .statusblock {
        height: 40px;
        background: #55c4f1;
        border-bottom: 0px;
        border-bottom: 1px solid #383838;
    }

    .tbx {
        width: 100%;
    }

    .tbx * {
        font-size: 12px;
        line-height: 14px;
    }

    .img-avatar {
        display: inline-block;
        border: 1px solid #383838;
        border-radius: 3px;
        overflow: hidden;
    }

    .tbx td {
        padding: 5px
    }

    .separator {
        height: 20px;
    }

    .tag_el {
        height: 20px !important;
        border-radius: 2px;
        line-height: 12px;
        background: #55c4f1;
        color: #004886;
        border: 1px solid #0c8fff;
        display: inline-block;
        padding: 3px;
        margin-right: 5px;
    }

    #img_element_view.img, .taggd {
        display: block;
        float: left;
        width: 50%;
    }

    .taggd img {
        display: initial;
        float: initial;
    }

    .show_overlay_hide {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }


    /*Список иконок*/
    .iconvx.sofa {
        background: url("/img/icons/sofa.svg") center no-repeat transparent;
    }

    .iconvx.lamp {
        background: url("/img/icons/lamp.svg") center no-repeat transparent;
    }

    .iconvx.seat {
        background: url("/img/icons/seat.svg") center no-repeat transparent;
    }

    .iconvx {
        width: 100%;
        height: 100%;
        poisiton: relative;
        background-size: contain !important;
    }

    .flip-list-move {
        transition: transform 1s;
    }

    .disabled-list-move {
        transition: transform 0.0000000001s;
    }

    .offer-container {
        margin-bottom: 15px;
    }
</style>

<script>
    import vueSlider from 'vue-slider-component';

    export default {
        components: {
            vueSlider
        },

        mounted() {
            let self = this;

            //Прослушиваем выбор изображения из компонента
            this.$root.$on('selectedImage', function (id) {
                //Делаем запрос на получение элемента
                axios.get('/get/instagram-element/'+id)
                .then(function (response) {
                    self.element = response.data;
                    console.log(self.element);

                    //Генерируем событие на генерацию данных по элементу
                    self.$root.$emit('selectedItem', response.data);

                    //Выполняем инициализацию теггирования
                    self.tagging();
                })
                .catch(function (error) {
                    console.log(error);
                });
            });
        },

        methods: {
            openbig() { //Открывает полный предпросмотр изображения

            },

            tagging() { //Функция для тегирования изображения
                this.pointers = [];
                this.current_tagmode = 'init';
                this.show_overlay_hide = false;
            },

            //Функция для подготовке и вывода тегов
            prepCoord(x) {
                return x*100 + '%';
            },

            //Функция, которая срабатывает при нажатии на элемент
            editTag(tag, event) {
                //Возвращаем данные предыдущей точки на свои места
                this.returnDotData();

                event.stopPropagation();
                this.current_editag = tag;

                //Делает копию элемента
                this.editCopyElement = JSON.parse(JSON.stringify(this.current_editag));

                this.removeIsInEdit();
                tag.isInEdit = true;
                this.current_tagmode = 'edit';
            },

            //Функция, возвращающая параметры точки на свои места
            returnDotData() {
                if (typeof this.editCopyElement != "undefined" && this.current_editag != "undefined") {
                    var origin = this.editCopyElement;
                    var target = this.current_editag;

                    //Возвращаем параметры на место
                    for (var prop in this.editCopyElement) {
                        var origin_el = origin[prop];
                        target[prop] = origin_el;
                    }
                }
            },

            //Функция, которая срабатывает при ведении мышки по элементу канваса
            tagMouseMove(e) {
                var element = $(".tags_images");
                var offset = element.offset();
                var width = element.width();
                var height = element.width();
                var divPos = {};
                var left =  e.pageX - offset.left;
                var top = e.pageY - offset.top;
                var x = left/width;
                var y = top/height;

                //Сохраняем координаты во временные поля
                this.corX = x;
                this.corY = y;
            },

            //Переключает режим на добавление тегов
            addTag() {
                this.current_tagmode = 'add'
                this.show_overlay_hide = true;
            },

            //Для добавления одного pointer - элемента (во время расстановки точек)
            addPointer() {
                this.pointers.push({
                    new: true,
                    "x": this.corX,
                    "y": this.corY,
                    "width": 0.1,
                    "icon": 'lamp'
                });
            },

            //Функция которая подтверждает добавление
            applyAdd() {
                //Производим добавление элементов в бекенд (отправляем данные на сервер)
                var current_tag = this.current_editag;
                var post_code = this.element.code;
                var params = {
                    tags: this.pointers
                }

                //Делаем запрос на удаление текущего тега
                let self = this;
                axios.post('/add/instagram-dots/'+post_code, params)
                .then(function (response) {
                    var data = response.data;
                    self.element.offers_links = self.element.offers_links.concat(data);
                    self.pointers = [];
                    self.current_tagmode = 'init'
                    self.show_overlay_hide = false;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            //Функция, которая отменяет добавление
            cancelAdd() {
                this.pointers = [];
                this.current_tagmode = 'init'
                this.show_overlay_hide = false;
            },

            //Функция, которая убирает признак редактирования текущего тега
            removeIsInEdit() {
                for (var prop in this.element.offers_links) {
                    var el = this.element.offers_links[prop];
                    el.isInEdit = false;
                }
            },

            //Функция, проверяющая текущее состояние и возвращающее если что в нужное
            checkApply() {
                if (this.current_tagmode = 'edit') {
                    //Возвращаем данные предыдущей точки на свои места
                    this.returnDotData();

                    this.removeIsInEdit();
                    this.current_tagmode = 'init';
                    this.show_overlay_hide = false;
                }
            },


            //Функция, которая производит удаление тега
            deleteTag() {
                var current_tag = this.current_editag;
                var post_code = this.element.code;
                var params = {
                    tag_id: current_tag.id
                };

                //Делаем запрос на удаление текущего тега
                let self = this;
                axios.post('/delete/instagram-dot/'+post_code, params)
                .then(function (response) {
                    var index = 0;
                    var els = self.element.offers_links;
                    var current_id = current_tag.id;
                    for (var prop in els) {
                        var el = els[prop];
                        if (el.id == current_id) {
                            index = prop;
                            break;
                        }
                    }

                    //Вызываем функцию для закрытия окна и т.д.
                    self.continueDeleteDot(index);
                })
                .catch(function (error) {
                    console.log(error);
                });
            },


            //Функция, которая завершает закрытие окна
            continueDeleteDot(index) {
                $("#deleteDotModal").modal("hide");
                this.$delete(this.element.offers_links, index);
                this.removeIsInEdit();
                this.current_tagmode = 'init';
                this.show_overlay_hide = false;
            },


            //Функция, которая производит сохранение текущей точки
            saveDot() {
                var current_tag = this.current_editag;
                var post_code = this.element.code;
                var params = {
                    tag: current_tag
                }

                //Делаем запрос на удаление текущего тега
                let self = this;
                axios.post('/update/instagram-dot/'+post_code, params)
                .then(function (response) {
                    var data = response.data;

                    //Постдействия
                    self.editCopyElement = current_tag;
                    self.removeIsInEdit();
                    self.current_tagmode = 'init';
                    self.show_overlay_hide = false;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },


            //Функция, которая производит открепление оффера от текущей точки
            unbindOffer(offer) {
                var id = offer.link_tag_id;

                //Делаем запрос на удаление текущего тега
                let self = this;
                axios.post('/delete/instagram-offer-link/'+id, [])
                .then(function (response) {
                    var data = response.data;
                    if (!data.success) return;

                    self.loadLinkedOffersRaw();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            //Функция, которая открывает для просмотра окно
            showLinkedOffersWindow() {
                this.loadLinkedOffersRaw();
                $("#offerDotModal").modal("show");
            },


            //Функция, которая производит "Чистое обновление"
            loadLinkedOffersRaw() {
                var current_tag = this.current_editag;
                var post_code = this.element.code;
                var params = {
                    tag: current_tag.id
                }

                //Делаем запрос на удаление текущего тега
                let self = this;
                axios.post('/get/instagram-offer-link/'+post_code, params)
                .then(function (response) {
                    var data = response.data;
                    self.current_editag.offers = data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },


            //Функция, которая производит загрузку связанных офферов для текущего элемента и вставляет их
            loadLinkedOffers() {
                var element = this.current_editag;
            },


            //Функция, которая производит возможность добавления офферов
            addOffer() {
                //Загружаем список офферов
                this.loadAllAvaiableOffers();

                //Показываем окно
                $("#offerAddDotModal").modal("show");
            },


            //Функция, которая загружает список всех возможных офферов
            loadAllAvaiableOffers() {
                //Делаем запрос на удаление текущего тега
                let self = this;
                axios.post('/get/instagram-all-offers', [])
                .then(function (response) {
                    var data = response.data;
                    self.available_offers = data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },


            //Функция для выбора офферов
            selectOffer(offer) {
                //Делаем запрос на добавление информации о текущем оффере в текущий тег
                var current_tag = this.current_editag;
                var post_code = this.element.code;
                var params = {
                    tag: current_tag.id,
                    offer: offer.id
                }

                //Делаем запрос на удаление текущего тега
                let self = this;
                axios.post('/add/add-new-offer-link/'+post_code, params)
                .then(function (response) {
                    var data = response.data;
                    if (!data.success) return;

                    //Добавляем флаг
                    alert("Добавлено");
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        },

        data() {
            return {
                element: {
                    thumb: "http://ya.ru",
                    instagram_tags: [],
                    instagram_tags_total: [],
                    offers_links: [],
                },


                available_offers: [],


                //Текущий тег для редактирования
                current_editag: null,

                //Режим для работы с тегами
                current_tagmode: 'init',

                //Показывать - ли overlay для перекрытия изображения;
                show_overlay_hide: false,

                //Поля для рендера
                corX: 0,
                corY: 0,

                //Временно для хранения pointer-элементов
                pointers: [],

                //Иконки для привязки
                icons: ['lamp', 'seat', 'sofa'],

                //Запоминаемтся индекс перед сохранением элемента, а также предыдущий элемент
                editCopyElement: null
            }
        },

        //После удаления объекта удаляем также Tagged
        destroyed() {

        }
    }
</script>
