<template>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <select class="form-control" id="status_select">
                    <option>new</option>
                    <option>editor</option>
                    <option>editor+offers</option>
                    <option>offers</option>
                    <option>ready</option>
                    <option>broken</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3">
                    <label for="filter_from_date">From</label>
                </div>
                <div class="col-md-9">
                    <input class="timepicker form-control" id="filter_from_date" type="text">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3">
                    <label for="filter_to_date">To</label>
                </div>
                <div class="col-md-9">
                    <input class="timepicker form-control" id="filter_to_date" type="text">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
