<template>
    <div class="onlyx">
        <a :id="'post_' + item.code" class="item" v-on:click="select(item.code)" v-for="item in data">
            <img :src="item.thumb" width="70" height="70"/>
        </a>
        <div v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
            Загрузка...
        </div>
    </div>
</template>

<style scoped>
    .item {
        margin-bottom: 10px;
        display: block;
    }

    .item:hover {
        cursor: pointer;
    }

    .onlyx {
        max-height: 70vh;
        overflow-x: hidden;
        overflow-y: auto;
        width: 90px;
        margin: 0 auto;
    }
</style>

<script>
    import axios from 'axios';

    export default {
        mounted() {
            //Уведомление о том, что компонент загрузился
        },

        created() {
            this.load();
        },

        methods: {
            select: function(id) { //Выбирает текущий элемент из списка
                this.$root.$emit('selectedImage', id);
            },

            //Функция для загрузки данных
            load(notFirst = false) {
                //Здесь задаются базовые параметры загрузки
                var params = {
                    limit: 20
                };

                //Кастомные параметры в зависимости от условий
                if (notFirst) {
                    params["offset"] = this.data.length;
                    params["current"] = 0;
                } else {
                    params["offset"] = 0;
                    params["current"] = 0;
                }

                let self = this;
                axios.get('/get/instagram-list', {
                    params: {
                        condition: JSON.stringify(params)
                    }
                })
                .then(function (response) {
                    self.data = self.data.concat(response.data);
                    if (!notFirst) {
                        self.select(self.data[0].code);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            //Загрузка дополнительных элементов
            loadMore: function() {
                this.busy = true;
                setTimeout(() => {
                    this.load(true);
                    this.busy = false;
                }, 1000);
            }
        },

        data() {
            return {
                busy: false,
                data: []
            }
        }
    }
</script>