<template>
    <div class="card card-default" id="right-block">
        <div class="card-header">
            <b>Запись</b> №: {{item.code}}
        </div>
        <div class="card-body basecard">
            <div class="">
                <table class="table-sm table-bordered table-tags">
                    <tr v-for="tag in tags.alltags">
                        <td width="20%" class="labcol">
                            <b>
                                {{tag.category_name}}
                            </b>
                        </td>
                        <td width="80%">
                            <v-select multiple v-model="tag.model" :options="tag.childs"/>
                        </td>
                    </tr>
                </table>

                <br/>

                <!-- Модальное окно для списка комментариев -->
                <div class="modal fade" id="comments_modal" tabindex="-1" role="dialog" aria-labelledby="comments_modalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="comments_modalLabel">Список комментариев</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div v-for="comment in item.instagram_comments">
                                    <img class="user_pic" :src="comment.user_pic"> <b>{{comment.user_name}}}</b>:
                                    {{comment.text}}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table-sm table-bordered table-tags">
                    <tr>
                        <td width="20%" class="labcol">
                            <b>Comments</b>
                        </td>
                        <td width="100%">
                            <div v-for="comment in item.instagram_comments.slice(0, 2)">
                                <img class="user_pic" :src="comment.user_pic"> <b>{{comment.user_name}}}</b>:
                                {{comment.text}}
                            </div>

                            <div v-if="item.instagram_comments.length > 0">
                                <button id="btn-comments" type="button" class="btn-sm btn btn-success" data-toggle="modal" data-target="#comments_modal">Смотреть еще</button>
                            </div>
                            <div v-else>
                                Комментариев нет
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" class="labcol">
                            <b>In/Out</b>
                        </td>
                        <td width="100%">
                            <label class="radio-inline"><input type="radio" value="3" v-model="item.inout" name="optradio">interior</label>
                            <label class="radio-inline"><input type="radio" value="2" v-model="item.inout" name="optradio">exterior</label>
                            <label class="radio-inline"><input type="radio" value="1" v-model="item.inout" name="optradio">both</label>
                            <label class="radio-inline"><input type="radio" value="0" v-model="item.inout" name="optradio">none</label>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" class="labcol">

                            <b>H1</b>
                        </td>
                        <td width="100%">
                            <div class="form-group nomrg">
                                <textarea class="form-control lines4" v-model="item.caption"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" class="labcol">
                            <b>Title</b>
                        </td>
                        <td width="100%">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" @change="selectItemTitle()" v-model="item.freeze_current_title" id="freeze_item_title">
                                <label class="form-check-label" for="freeze_item_title">Редактировать вручную</label>
                            </div>

                            <div v-if="!item.freeze_current_title">
                                {{getTitle()}}
                            </div>
                            <div v-else>
                                <div class="form-group nomrg">
                                    <textarea class="form-control lines4" v-model="item.current_title"></textarea>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="separator-small"></div>

                <div class="text-center">
                    <button type="button" class="btn btn-success" @click="saveElement()">Сохранить</button>
                </div>

                <div class="separator"></div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .user_pic {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .table-tags {
        width: 100%;
    }

    .nomrg {
        margin: 0px;
    }

    .lines4 {
        min-height: 80px;
        max-height: 100px;
    }

    .pull-right {
        float: right;
    }

    .text-center {
        text-align: center;
    }

    .separator {
        height: 100px;
    }

    .separator-small {
        height: 50px;
    }

    .basecard {
        padding: 5px;
    }

    .basecard * {
        font-size: 12px;
        line-height: 14px;
    }

    .radio-inline {
        margin-right: 20px;
        margin-bottom: 0px !important;
    }

    input[name=optradio] {
        margin-right: 4px;
        float: left;
    }

    .form-check input[type=checkbox] {
        margin-top: 0px;
    }
</style>

<script>
    export default {
        mounted() {
            //Прослушиваем выборку компонента элемента
            var self = this;
            this.$root.$on('selectedItem', function (data) {
                self.item = data;
                self.data = data;
                self.loadTags(); //Загружаем список тегов
                //self.loadComments(); //Загружаем список комментариев
            });
        },

        methods: {
            //Функция, которая срабатывает при выборе текущего заголовка
            selectItemTitle() {
                var value = this.item.freeze_current_title;
                var current_title = this.item.current_title;
                if (value) {
                    if (current_title.trim().length == 0) {
                        this.item.current_title = this.getTitle();
                    }
                }
            },

            //Функция, которая производит полное сохранение элемента
            saveElement() {
                var item = this.item;
                var tags = this.getTagsModel();

                //Формируем конечные данные
                var data = {
                    item: item,
                    tags: tags
                };

                //Обновляем данные
                let self = this;
                axios.post('/update/instagram-post/'+this.item["code"], data)
                .then(function (response) {
                    alert("Сохранено");
                })
                .catch(function (error) {
                    console.log(error);
                });
            },


            //Функция, которая получает список установленных тегов
            getTagsModel() {
                var ended = [];
                var tags = this.tags.alltags;
                for (var prop in tags) {
                    var el = tags[prop];

                    if (typeof el['model'] != "undefined") {
                        var model = el["model"];

                        //Проходимся еще и по массиву тегов
                        for (var tag_prop in model) {
                            var model_el = model[tag_prop];
                            var id = model_el["value"];
                            ended.push(id);
                        }
                    }
                }

                //Выводим информацию о подготовленном элементе
                if (ended.length <= 0) return [];
                return ended;
            },

            onTagChange() { //Функция, которая срабатывает при изменении списка тегов
                //Получаем весь массив данных
                var ended = [];
                var tags = this.tags.alltags;
                for (var prop in tags) {
                    var el = tags[prop];

                    if (typeof el['model'] != "undefined") {
                        var model = el["model"];

                        //Проходимся еще и по массиву тегов
                        for (var tag_prop in model) {
                            var model_el = model[tag_prop];
                            var id = model_el["value"];
                            ended.push(id);
                        }
                    }
                }

                //Выводим информацию о подготовленном элементе
                if (ended.length <= 0) return;

                //Формируем запрос на изменение списка тегов у элементов
                var params = {
                    'code': this.item.code,
                    'list': ended
                };

                //Формируем ссылку
                let self = this;

                //Делаем запрос на обновления списка тегов для текущего ресурса
                axios.post('/update/instagram-post-tags/'+params["code"], params)
                .then(function (response) {

                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            getTitle() {
                var title = this.item.caption;
                var tags = this.tags.alltags;
                var result = [];

                //Производим обход массива
                for (var prop in tags) {
                    var el = tags[prop];
                    var model = el['model'];

                    //Проходимся по списку модели
                    if (typeof model != "undefined" && model.length > 0) {
                        var values = [];
                        for (var prop_m in model) {
                            values.push(model[prop_m]["label"]);
                        }

                        var str = values.join(" ");
                        result.push(str);
                    }

                    if (typeof model != "undefined") {

                    }
                }

                //Получаем результат
                var result_str = result.join(" ");
                return title + " " + result_str;
            },

            loadComments: function() { //Функция для загрузки списка комментариев
                //Получаем список связанных комментариев
                let self = this;
                axios.get('/get/instagram-comments/'+self.item.code)
                .then(function (response) {
                    self.comments = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            loadTags: function() { //Функция для загрузки списка связанных тегов
                //Получаем список связанных тегов
                let self = this;
                axios.get('/get/instagram-post-tags/'+self.item.code)
                .then(function (response) {
                    self.tags = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        },

        data() {
            return {
                tags: {
                    alltags: []
                },
                item: {
                    instagram_comments: []
                },
                quick_comments: [],
                comments: []
            }
        }
    }
</script>
