<template>
    <div class="row">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">
                    Список тегов
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" id="tabslist" role="tablist">
                            <li class="nav-item" v-for="(item, index) in categories">
                                <a v-on:click="updateHeader(item.id)" v-bind:class="getHeadClass(index)" class="nav-link" v-bind:id="'tab_' + item.id" data-toggle="tab" v-bind:href="'#tabx_' + item.id" role="tab" v-bind:aria-controls="'tabx_' + item.id" aria-selected="true">
                                    {{item.name}}
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="headContentTab">
                            <div v-for="(item, index) in categories" v-bind:class="getTabClass(index)" v-bind:id="'tabx_' + item.id" role="tabpanel" v-bind:aria-labelledby="'tabx_' + item.id + '_tab'">
                                <div class="card-body nopadding">
                                    <table class="table table-bordered table-sm">
                                        <thead>
                                        <tr>
                                            <th scope="col">Название</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                            <tr v-for="item in tags">
                                                <td width="80%">
                                                    <div class="form-group">
                                                        <input class="form-control" v-model="item.name"/>
                                                    </div>
                                                </td>
                                                <td width="20%" class="middle-middle">
                                                    <button type="button" class="btn btn-info btn-sm" v-on:click="update_tags(item.id, item.name)">Save</button>
                                                    <button type="button" class="btn btn-danger btn-sm" v-on:click="remove_tags(item.id)">X</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <div>
                                        <p>
                                            <br/>
                                            Добавить еще
                                        </p>
                                    </div>

                                    <!-- Для добавления нового элемента -->
                                    <table class="table table-bordered table-sm">
                                        <thead>
                                        <tr>
                                            <th scope="col">Название</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td width="80%">
                                                <div class="form-group">
                                                    <input class="form-control" v-model="newtag.name"/>
                                                </div>
                                            </td>
                                            <td width="20%" class="middle-middle">
                                                <button type="button" class="btn btn-info btn-sm" v-on:click="add_tags()">Добавить</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-default">
                <div class="card-header">
                    Список категорий тегов
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="item in categories">
                                <td width="20%">
                                    <div class="form-group">
                                        <input class="form-control" v-model="item.name"/>
                                    </div>
                                </td>
                                <td width="16%" class="middle-middle">
                                    <button type="button" class="btn btn-info btn-sm" v-on:click="update_categories(item.id, item.name)">Save</button>
                                    <button type="button" class="btn btn-danger btn-sm" v-on:click="remove_categories(item.id)">X</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                        <div>
                            <p>
                                <br/>
                                Добавить еще
                            </p>
                        </div>

                        <!-- Для добавления нового элемента -->
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td width="20%">
                                    <div class="form-group">
                                        <input class="form-control" v-model="newcategory.name"/>
                                    </div>
                                </td>
                                <td width="16%" class="middle-middle">
                                    <button type="button" class="btn btn-info btn-sm" v-on:click="add_categories()">Добавить</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style scoped>
    .nopadding {
        padding: 0px;
    }

    textarea {
        min-height: 80px;
        padding: 5px;
    }

    input, textarea {
        font-size: 12px;
        line-height: 14px;
    }

    .form-group {
        margin: 0px;
    }

    .text-right {
        text-align: right;
    }

    .middle-middle {
        text-align: center;
        vertical-align: middle;
    }
</style>


<script>
    export default {
        mounted() {

        },

        created() {
            this.getlist_categories();
        },

        data() {
            return {
                current_category: null,
                categories: [],
                newcategory: {
                    name: ''
                },
                newtag: {
                    name: ''
                },
                tags: []
            }
        },


        methods: {
            //Фильтр
            getHeadClass: function(index) {
                if (index == 0) {
                    return "nav-link active"
                } else {
                    return "nav-link";
                }
            },

            getTabClass: function(index) {
                if (index == 0) {
                    return "tab-pane fade show active"
                } else {
                    return "tab-pane fade";
                }
            },

            //Выводит список элементов
            getlist_categories: function() {
                let self = this;
                axios.get('/config/tags-categories-getlist')
                    .then(function (response) {
                        self.categories = response.data;
                        if (!self.current_category) {
                            var el = self.categories[0];
                            self.current_category = el.id;
                            self.getlist_tags();
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            //Обновляет элемент
            update_categories: function(id, name) {
                let self = this;
                axios.post('/config/tags-categories-update', {
                    id: id,
                    name: name,
                })
                .then(function (response) {
                    self.getlist_categories();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            //Удаляет элемент
            remove_categories: function(id) {
                let self = this;
                axios.post('/config/tags-categories-remove', {
                    id: id
                })
                .then(function (response) {
                    self.getlist_categories();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            //Добавляет новый элемент категории
            add_categories: function() {
                let self = this;
                axios.post('/config/tags-categories-add', {
                    name: self.newcategory.name,
                })
                .then(function (response) {
                    self.getlist_categories();
                    self.newcategory.name = "";
                })
                .catch(function (error) {
                    console.log(error);
                });
            },


            //Для редактирования одного элемента со списком заголовка
            updateHeader: function(id) {
                this.current_category = id;
                this.getlist_tags();
            },


            //Для тегов
            getlist_tags: function() {
                let self = this;
                axios.get('/config/tags-getlist', {
                    "params": {
                        "category_id": self.current_category
                    }
                })
                .then(function (response) {
                    self.tags = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            //Обновляет элемент
            update_tags: function(id, name) {
                let self = this;
                axios.post('/config/tags-update', {
                    id: id,
                    name: name,
                })
                .then(function (response) {
                    self.getlist_tags();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            //Удаляет элемент
            remove_tags: function(id) {
                let self = this;
                axios.post('/config/tags-remove', {
                    id: id
                })
                .then(function (response) {
                    self.getlist_tags();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            //Добавляет новый элемент категории
            add_tags: function() {
                let self = this;
                axios.post('/config/tags-add', {
                    name: self.newtag.name,
                    category_id: self.current_category,
                })
                .then(function (response) {
                    self.getlist_tags();
                    self.newtag.name = "";
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
        }
    }
</script>
