
// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,cyrillic-ext");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#filter-header {
  padding-left: 15px;
  padding-right: 15px;

  .form-group {
    margin-bottom: 0px;
  }

  label {
    line-height: 36px;
    margin-bottom: 0px;
    text-align: right;
  }
}

#left-block .card-body {
  padding-left: 0px;
  padding-right: 0px;

  .images-big-container {
    padding-left: 0px;
  }
}

body {
  overflow-y: scroll;
}

.basecard .v-select .selected-tag {
  height: 20px !important;
  border-radius: 2px;
  line-height: 12px;
  background: #55c4f1;
  color: #004886;
  border: 1px solid #0c8fff;
}

.basecard .v-select input[type=search], .basecard .v-select input[type=search]:focus {
  height: 28px;
}

.basecard .v-select .dropdown-toggle {
  border: none !important;
}

.labcol {
  background: #f1f1f1;
  text-align: right;
  padding-right: 20px;
}

.images-big-container {
  padding-top: 20px;
}

#left-block {
  padding-bottom: 20px;
}

.basecard textarea {
  padding: 5px;
  border-color: transparent;
  border-radius: 0px;
  padding: 0px;
}

.basecard .v-select .selected-tag .close {
  line-height: 13px !important;
}

#left-block .card-body {
  padding: 0px;
}

.images-list-container {
  padding-top: 20px;
  padding-bottom: 0px;
}